nav {
  background-color: blue;
  height: 130px;
}
form div{
  display: inline-block;
}
button {
  margin-right: 20px;
}

.forms div label {
  display: grid;
  /* grid-auto-rows: 20px 20px 20px; */
}

.forms {
  float: right;
}

.emailPhone {
  padding-top: 30px;
  padding-right: 20px;

}
.pwd {
  padding-top: 40px;
  padding-right: 10px;
}
.epIn {
  padding-top: 13px;
}
.pwdIn {
  padding-bottom: 13px;
}